%div.module_general
  %div.top
    %h1 选择知识模块
    %p.general  知识模块是建构你的知识体系的最小单位，挑选一个，马上动手吧
  %div.modules
    %ul
      %li.module
        %a{href: "web_fund_path"}
          %div.header
            %h2 网络基础：Web Fundamentals
            %p  学习必备的网络通信知识，学会用html+css创建简单的静态网页
          %div.list
            %h4 你要学习
            %ul
              %li basic html+css
              %li the architecture of web
              %li design insights
      %li.module
        %a{href: "js_basic_path"}
          %div.header
            %h2 javascript basic: 必要的js基础
            %p  借助javascript，你可以创作出动态的页面
          %div.list
            %h4 你要学习
            %ul
              %li basic js programming
              %li coffeescript programming
              %li basic js library
      %li.module      
        %a{href: "js_advanced_path"}
          %div.header
            %h2 javascript advanced: js进阶学习
            %p 学习jquery库，ajax异步技术，bootstrap库 
          %div.list
            %h4 你要学习
            %ul
              %li jquery
              %li Ajax
              %li bootstarp
      %li.module          
        %a{href: "web_advanced_path"}
          %div.header
            %h2 进阶网络知识
            %p  学习sessions，http方法，用户认证及管理，并应用所学，建立blog
          %div.list
            %h4 你要学习
            %ul
              %li understand the cookie，sessions 
              %li autherition
              %li build a blog
      %li.module    
        %a{href: "db_path"}
          %div.header
            %h2 数据处理基础: 数据存储及查询
            %p  学习网络编程常用的数据格式（Json,XML）,学习sql
          %div.list
            %h4 你要学习
            %ul
              %li json and xml
              %li database management
              %li sql basic
      %li.module
        %a{href: "ruby_basic_path"}
          %div.header
            %h2 ruby基础教程
            %p  Ruby Rocks!
          %div.list
            %h4 你要学习
            %ul
              %li basic ruby programming
              %li ruby style guide
              %li basic ruby library
      %li.module
        %a{href: "rails_path"}
          %div.header
            %h2 RoR tutorials： 学习rails框架
            %p  Rails是个复杂的全栈式框架，在实践中学习必要的rails
          %div.list
            %h4 你要学习
            %ul
              %li 3-ties 架构
              %li MVC框架
              %li RoR项目
      %li.module
        %a{href: "linux_basic_path"}
          %div.header
            %h2 linux常用知识
            %p  必要的linux文档体系，系统运作的知识，不了解linux，如何成为网络开发者？
          %div.list
            %h4 你要学习
            %ul
              %li document system
              %li basic commands
              %li how to manage the host
      %li.module
        %a{href: "git_basic_path"}
          %div.header
            %h2 vcs利器：git
            %p 当心你的代码被狗吃了
          %div.list
            %h4 你要学习
            %ul
              %li basic git commands
              %li git model
              %li git与团队协作
      %li.module
        %a{href: "vim_path"}
          %div.header
            %h2 vim编辑器
            %p  借助vim，你可以让编程生产力大幅提升，当然，这需要在你熟悉vim之后
          %div.list
            %h4 你要学习
            %ul
              %li basic vim operation
              %li vim as an IDE
              %li vim files
      %li.module
        %a{href: "test_frames_path"}
          %div.header
            %h2 测试框架：Cucumber 和Rspec
            %p  测试在RoR开发中的作用不下于开发。
          %div.list
            %h4 你要学习
            %ul
              %li TDD and BDD
              %li Cucumber
              %li Rspec


