!!! 5
%html
  %head
    %link(rel='stylesheet' tyle='text/css' href='/assets/frontend.css?body=1')
  %body
    %div#wraper
      %div#navbar
        %h2 hellodd
      %div#content
        this is s isi the staeag an try to past it ten times for the things so that the div co    ntent could be used as a real block to show the liquid layout, and see what is the right thi    ngs to do for the web design. for the liquid layout, the orignial ieads comes from some people.the content
        this is the content
      %div#sidebar
        sidebar showing/ 
        %p three passions, have governed my life. the search for love, the passion for knowledge, and the indifinate pain for the human beings.
      %div#footer 
        this is the footer

