<% provide(:title,"About Us")%>
<!DOCTYPE HTML>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
  </head>

  <body>
    <h1>About Us</h1>
	<p>
	To learn more about the tutorial, just see
    <a href="http://railstutorial.org/about">Ruby on Rails Tutorial About page</a>. <br/>
	And to get more details about this sample page, see
	<a href="http://railstotorial.org/book">Ruby on Rails Tutorial Book</a>.
    </p>
  </body>
<html>
