<h1>About</h1>
<p>
 To learn more about the tutorial, just see
 <a href="http://railstutorial.org/about">Ruby on Rails Tutorial About page</a>. And to get more details about this sample page, see
 <a href="http://railstotorial.org/book">
Ruby on Rails Tutorial Book
</a>.

</p>
