<%provide(:title, "Contact Us")%>
<h1>Contact Us</h1>
<p>
 Please follow me at the sina weibo:
 <a href="http://www.weibo.com/shuke0327">shuke</a>.<br/>
 If you have any problem, just search on the web <a href="http://www.stackoverflow.com/">stackoverflow</a>
 , that will help.
 </p>


 
