// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-size: small;
}


h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
ul li {
  font-size: 90%;
}

.note {
  font-size: 85%;
  color: red;

}
#nav {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 42px;
  width: 100%;
  float: left;
  background: #ffcb2d;
  li {
    float: left;
    margin: 0;
    padding: 0 0 0 0;
  }
}
#nav a {
  display: inline-block;
  margin: 0 1px 0 0;
  float: left;
  padding: 4px 8px;
  color: #333;
  text-decoration: none;
  border: 1px solid #9b8748;
  border-bottom: none;
  background: #F9e9a9;
}

#nav a:hover {
  padding-bottom: 5px;
  border-color: #727377;
  background: #fff;
}

#register {
  background: #bddb62;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  list-style: none;
  border-radius: 20px;
}
#register a {
  text-decoration: none;
  color: #360;
}

  
#reg {
  float: left;
  margin: 0;
  padding: 8px 14px;
}
#find {
  float: right;
  margin: 0;
  padding: 8px 20px;
  //background: url('http://www.cevs.ucdavis.edu/shared/art/mag_glass.gif') no-repeat 0 50%;
}

#message {
  clear: both;
  border-radius: 20px;
  text-align: center;
  background: #92b91c;
  width: 100%;
  p {
    margin: 0;
    padding: 8px 14px;
  }
  strong {
    text-transform: uppercase;
  }
  a {
    margin: 0 0 0 10px;
    padding: 2px 15px 2px 40px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    //background: url('http://i393.photobucket.com/albums/pp14/BebeGenuine/animated-arrow.gif') no-repeat 0 50%;
  }
}

#CV {
  width: 300px;
  border: 2px solid #cbcdd2;
  padding: 10px 0;
  float: left;
  dl {
    margin: 10px 20px;
    padding: 0;
    width: 260px;
    float: left;
    display: inline;
  }
  dt {
    margin: 0;
    padding: 0;
    width: 162px;
    font-size: 130%;
    color: #627081;
    letter-spacing: 1px;
    float: right;
  }
  dd {
    margin: 0;
    margin-left: 98px;
    padding: 0;
    font-size: 85%;
    line-height: 1.5em;
    color: #666;
  }
  
}
#CV .img {
  float: left;
  margin: 0 8px 0 0;
  padding: 4px;
  border: 1px solid #d9e0e6;
  border-bottom-color: #c8cdd2;
  border-right-color: #c8cdd2;
  background: #fff;
}

#CV .alt {
  dt {
  float: left;
  }
  dd {
  margin: 0 98px 0 0;
  }
  .img{
  float: right;
  margin: 0 0 0 8px;
  }
}

.box {
  float: left;
  margin: 0 0 0 20px;
  border: 1px green;
  border-style: dashed solid dashed solid;
  border-radius: 15px;
  width: 273px;
  h3 {
    margin: 0;
    padding: 6px 8px 4px 10px;
    border-bottom: 1px solid #e0cfab;
    color: #444;
    font-size: 130%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: -moz-linear-gradient(top, green, #fff);
  }
  ul {
    margin: 0;
    padding: 14px 10px;
    list-style: none;
    li {
      margin: 0 0 6px;
      padding: 0;
    }
  }
}
body {
  background: #b5b5b5;
  margin: 0;
  padding: 30px;
  font-family: "Lucida Grande", Arial, sans-serif;
}
table {
  clear: both;
  width: 100%;
  position: relative;
  left: -4px;
  top: -5px;
  border: 1px solid red;
  background: #fff;
  a {
    color: #77985c;
    display: block;
  }
  th, td {
    margin: 0;
    padding: 8px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .name {
    text-align: left;
  }
  tr {
    background: #e6e6e6;
  }
}
table tr.alt {
  background: #f1f1f1;
}
table th {
  color: #999;
}

caption {
  background: #fff;
  border: 1px solid #000;
  border-bottom: none;
  margin-top: 20px;
  padding: 8px 20px;
  text-align: left;
}

.forum {
  background: #919191;
}
#wraper {
}
#navbar {
  width: 100%;
  background: #369;
  margin: 0;
  float: left;
}
#content {
  float: left;
  background: green;
  width: 65%;
  margin-right: 5%;
  max-width: 600px;
}
#sidebar {
  float: left;
  background: #9c3;
  width: 30%;
}
#footer {
  clear: both;
  background: #cc9;
}


















